python_quickstart_mobile_game=true
python_leaderboard_direct=true
python_leaderboard_dataflow=true
python_gamestats_direct=true
python_gamestats_dataflow=true
python_xlang_kafka_taxi_dataflow=true
python_xlang_sql_taxi_dataflow=true
INSTALL_HUB=true

USER_SERVICE_ACCOUNT_EMAIL=
INSTALL_GNOME_TERMINAL=true
GITHUB_TOKEN=
GITHUB_USERNAME=
